# Add the linters aimport requestsnd code formatters
flake8
black
pytest

click
appdirs

# Build to make pyproject.toml work
# https://pypa-build.readthedocs.io/en/latest/index.html
# build

# release to pypi
#twine
