# ------------
# App Dependencies

# These are dependencies for the repo so we can run the app in the environment.
# They should be installed when we install the app. They are strictly required
# here but offer another form of documentation.

appdirs
click
matplotlib
numpy
pandas
pyyaml
tzdata
scipy
sqlalchemy
tqdm
tabulate # Dataframe.to_markdown

# ------------
# Custom Repo

# custom git repos would be installed here.

bluebill @ git+ssh://troy@odin.home.bluebill.net:10000/home/troy/repositories/shared/bluebill.common.git